
/* HEADER---------  */
header{
    position: fixed;
    width: 100%; 
    z-index: 10;
}

.header-top{
    background-color: black;
}

.sony-logo{
    width: 80px;
}

.nav-item a{
    display: flex;
    align-items:baseline;
    font-weight: bold;
}

.fa-angle-down{
    font-size: 12px;
    color:grey;
}


/* BOTTONI----------  */

.btn_login{
    background-color:#363636;
    border-radius: 30px;
    border:none; 
    color:white; 
}

.btn_buy{
    background-color:#cd3d0f;
    border-radius: 30px;
    border:none; 
    color:white; 
}

.btn_info{
    background-color:#2d64e6;
    border-radius: 30px;
    border:none; 
    color:white; 

}


/* MAIN------------  */

main{
padding: 100px 0px;
}

.hero{
height: 750px;
background-image: url(../img/jumbo-bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position:center;
}

.returnal{
    width: 300px;
}

.custom{
    padding-top: 300px;
}

.game{
    border-radius: 30px;
}



